extends db

block collection
	input#collection(type="hidden",value=collection)
	form#post(style="display:none",method="post")
		input#op(type="hidden",name="op")
	.actions
		b Collection: 
		span=op
		br
		a(href="/db/"+dbname+"/"+collection,class={active:!op})=ml.browse
		|  | 
		a(href="?op=insert",class={active:op==="insert"})=ml.insert
		|  | 
		a(href="truncate",onclick!="if(confirm('"+collection+" - "+delAllRecordsMsg+"')){op.value='truncate';$('#post').submit();}return false")=ml.clear
		|  | 
		a(href="?op=stats",class={active:op==="stats"})=ml.statistics
		|  | 
		a(href="?op=indexes",class={active:op==="indexes"})=ml.indexes
		|  | 
		a(href="?op=rename",class={active:op==="rename"})=ml.rename
		|  | 
		a(href="?op=dup",class={active:op==="dup"})=ml.duplicate
		|  | 
		a(href="?op=validate",class={active:op==="validate"})=ml.validate
		|  | 
		a(href="?action=drop",onclick!="if(confirm('"+collection+" - "+dropCollectionMsg+"')){op.value='drop';$('#post').submit();}return false")=ml.remove

	if err
		p(style="color:red")=err

	block collection-content