extends collection

block collection-content
	p
		a(href="http://docs.mongodb.org/manual/indexes/",target="_blank")=ml.doc

	form(method="post",action="/db/"+dbname+"/"+collection)
		input(type="hidden",name="op",value="create-index")
		table.lcaption
			tbody
				tr
					th(style="width:100px")=ml.name
					td
						input(type="text",name="name")
				tr
					th=ml.fields
					td
						#fields
							input.ui-autocomplete-input(type="text",name="fields",size="30",autocomplete="off",role="textbox",aria-autocomplete="list",aria-haspopup="true",required)
							|  
							select(name="order")
								option(value="asc") ASC
								option(value="desc") DESC
							|  
							input.addNewField(type="button",value="+")
				tr
					th=ml.unique
					td
						input#clickUniqueKey(type="checkbox",name="is_unique",value="1")
				tr#duplicate_tr
					th=ml.removedup
					td
						input(type="checkbox",name="drop_duplicate",value="1")
				tr
					td(colspan="2")
						input(type="submit",value=ml.create)
								