extends layout

block content
	form#post(style="display:none",method="post")
		input#db(type="hidden",name="db",value=dbname)
		input#dbop(type="hidden",name="op")

	.header
		a(href="/db/"+dbname,class={active:op==="stats"})=ml.statistics
		|  | 
		a(href="/db/"+dbname+"?op=processlist",class={active:op==="processlist"})=ml.processes
		|  | 
		a(href="/db/"+dbname+"?op=newcollection",class={active:op==="newcollection"})=ml.newCollection
		|  | 
		a(href="/db/"+dbname+"?op=command",class={active:op==="command"})=ml.command
		|  | 
		a(href="/db/"+dbname+"?op=export",class={active:op==="export"})=ml.export
		|  | 
		a(href="/db/"+dbname+"?op=import",class={active:op==="import"})=ml.import
		|  | 
		a#db-repair(href="/db/"+dbname+"?op=repair",data-msg=ml.repairDbMsg)=ml.repair
		|  | 
		a(href="/db/"+dbname+"?op=auth",class={active:op==="auth"})=ml.auth
		|  | 
		a(href="/db/"+dbname+"?op=dup",class={active:op==="dup"})=ml.duplicate
		|  | 
		a#dropdb(href="#",data-msg=ml.dropDbMsg)=ml.remove
	
	#header-sep-db
	#content
		block dbbody

		block collection