extends layout

block content
	input#db(type="hidden",value=dbname)
	form#post(style="display:none",method="post")
		input#op(type="hidden",name="op")
	table#main-t
		tr
			td#leftC
				.auto-height
					h3
						a(href="/") DB's
						| &nbsp;·&nbsp;
						select(onchange="location.href='/db/'+this.value")
							each db in dbs
								option(selected=dbname===db)=db
					ul#collections
						each col in collections
							li(class={active:col.name===collection})
								a(href="/db/"+dbname+"/"+col.name)=col.name
								if col.count
									span=" ("+col.count+")"
			td#rightC
				.auto-height
					.actions
						b DB: 
						span=dbname
						br
						a(href="/db/"+dbname,class={active:op==="stats"}) Estadística
						|  | 
						a(href="/db/"+dbname+"?op=processlist",class={active:op==="processlist"}) Procesos
						|  | 
						a(href="/db/"+dbname+"?op=newcollection",class={active:op==="newcollection"}) Nueva colección
						|  | 
						a(href="/db/"+dbname+"?op=command",class={active:op==="command"}) Comando
						|  | 
						a(href="/db/"+dbname+"?op=export",class={active:op==="export"}) Exportar
						|  | 
						a(href="/db/"+dbname+"?op=import",class={active:op==="import"}) Importar
						|  | 
						a(href="/db/"+dbname+"?op=repair",class={active:op==="repair"}) Reparar
						|  | 
						a(href="/db/"+dbname+"?op=auth",class={active:op==="auth"}) Autenticación
						|  | 
						a(href="dropdb",onclick="if(confirm('Seguro que quieres eliminar toda la base de datos \""+dbname+"\"?')){op.value='dropdb';$('#post').submit()}return false") Eliminar

						block dbbody

					block collection