extends layout

block content
	#db-content
		a(href="/createdb")=ml.createdb

		table.lcaption#dbs
			thead
				tr(style="text-align:center")
					th=ml.name
					th=ml.size
					th=ml.storage
					th=ml.datasize
					th=ml.indexsize
					th=ml.avgObjSize
					th=ml.indexes
					th=ml.collections
					th=ml.objects
					th Ok
			tbody(style="text-align:right")
				each db in databases
					tr
						th: a(href="/db/"+db.name)=db.name
						td=db.empty ? "empty" : db.sizeOnDisk
						td=db.storageSize
						td=db.dataSize
						td=db.indexSize
						td=db.avgObjSize
						td=db.indexes
						td=db.collections
						td=db.objects
						td=db.ok
