extends layout

block content
	#db-content
		a(href="?op=createdb") Crear nueva base de datos

		table.lcaption(style="max-width:800px")#dbs
			thead
				tr(style="text-align:center")
					th Nombre
					th Tamaño
					th Almacenamiento
					th Tamaño de datos
					th Tamaño de índice
					th Índices
					th Colecciones
					th Objetos
					th Ok
			tbody(style="text-align:right")
				each db in databases
					tr
						th: a(href="/db/"+db.name)=db.name
						td=db.empty ? "empty" : db.sizeOnDisk
						td=db.storageSize
						td=db.dataSize
						td=db.indexSize
						td=db.indexes
						td=db.collections
						td=db.objects
						td!=db.ok