extends collection

block collection-content
	#content
		form(method="post",action=path)
			br
			p=ml.duplicate 
				span=' "'+collection+'"'
			p
				label Nombre: 
					input(name="name",required)

			input(type="hidden",name="db",value=dbname)
			input(type="hidden",name="collection",value=collection)
			input(type="submit")