extends db

block dbbody
	#export
		h3=ml.collections
		h4
			label
				input(type="checkbox", name="all")
				=ml.allcoll

		ul.list
			each col in collections
				li: label
					input(type="checkbox",name=col.name,checked=selected&&selected.indexOf(col.name)!==-1)
					=col.name

		form#coll-export.clear(method="post",action="/db/"+dbname)
			input(type="hidden",name="op",value="export")
			input(type="hidden",name="collection",value=collection)
			input(type="hidden",name="collections")
			input(type="submit",value=ml.export)