extends collection

block collection-content
	.actions
		a(href="create-index")=ml.createIndex
	table#indexes.lcaption(style="width:auto",data-drop-msg=ml.dropIndexConfirm)
		thead
			tr
				th=ml.name
				th=ml.key
				th=ml.unique
				th=ml.operation
		tbody
			each i in indexes
				tr
					th=i.name
					td
						ul
							each v,k in i.key
								li=k+': '+v
					td=i.unique&&"✓"
					td
						a.drop(href="#",data-name=i.name)=ml.drop
								