doctype html
html
	head
		title="Mongui - MongoDB ui"
		meta(name="robots",content="noindex,nofollow")
		
		// used in jquery ui dialogs
		link(rel="stylesheet", href="/css/jquery-ui.min.css")
		
		link(rel='stylesheet', href='/css/desktop.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/icons.css')
		
		script(src="/js/jquery-2.1.4.min.js")
		script(src="/js/jquery-ui-1.11.4.js")
		script(src="/js/mongui.js")

		if scripts
			each s in scripts
				script(src=s)
	body
		table#main-t
			tr
				// unless path==="/dbs"
				td#leftC
					.auto-height
						h3
							if dbname
								a(href="/") Db's
								| &nbsp;路&nbsp;
								select(onchange="location.href='/db/'+this.value")
									each db in dbs
										option(selected=dbname===db.name)=db.name
							else
								if dbs
									h3 Databases
									ul#dbs
										each db in dbs
											li(class={active:db.name===dbname})
												a.icon.icon-db(href="/db/"+db.name)=db.name
													if db.collections
														span=" ("+db.collections+")"


						if collections
							ul#collections
								each col in collections
									li(class={active:col.name===collection})
										a(href="/db/"+dbname+"/"+col.name)=col.name
										if col.count
											span=" ("+col.count+")"
				td#rightC
					if(!dbname && ml)
						.header
							a(href="/",class={active: path==="/"})=ml.server
							|  | 
							a(href="/serverstatus",class={active: path==="/serverstatus"})=ml.status
							|  | 
							a(href="/dbs",class={active: path==="/dbs"})=ml.dbs
							|  | 
							a(href="/processlist",class={active: path==="/processlist"})=ml.processes
							|  | 
							a(href="/command",class={active: path==="/command"})=ml.command
							|  | 
							a(href="/replication",class={active: path==="/replication"})=ml.replication
						#header-sep

						#content
							block content
					else
						block content
		
		footer
			a(href="/readme") Readme
			|  路 
			a(href="https://github.com/jjtortosa/mongui",target="_blank")!="&copy;Mongui v"+settings.version
			|  路 
			a(href="/logout") Logout
			|  路 
			select(style="width:100px",onchange="window.top.location='?changeLang='+this.value")
				each name,code in langs
					option(value=code,selected=code===lang)=name
			

		#msg-dialog
			p#msg-body
		
		if ml
			input#serverResponse(type="hidden",value=ml.serverResponse)