extends collection

block collection-content
	form#query-form
		table
			tr
				td#query-box
					#query-operators
						a(href="http://docs.mongodb.org/manual/tutorial/query-documents/", target="_blank")=ml.queryConditions
						| : 
						br
						textarea#criteria(name="criteria",rows="5",cols="50")=criteria
						br
					#update-operators
						a(href="http://docs.mongodb.org/manual/tutorial/modify-documents/", target="_blank")=ml.updateOperators
						| : 
						br
						textarea(name="update",rows="5",cols="50")=update
						br
					#by-id
						label Id: 
							input(name="byid",value=byid,size=26,style={"font-size":"1.1em"})
					#distinct-field
						label Distinct Field: 
							input(name="distinct",value=distinct)
					input(type="submit")
					|  | 
					input#explain(type="button",value=ml.explain)
					|  | 
					label(for="actsel")=ml.action+": "
					select#actsel(name="action")
						option(selected=action=="find") find
						option(selected=action=="findById") findById
						option(selected=action=="distinct") distinct
						option(selected=action=="remove") remove
						option(selected=action=="update") update
		
				if sortFields
					td#sort-order-td=ml.sort+':'
						#sort-order
							each s,i in sortFields
								div
									input(name="sortFields["+i+"]",value=s&&s.name)
									select(name="order["+i+"]")
										option(value="1") ASC
										option(value="-1",selected=s&&s.order===-1) DESC
				if(nativeFields)
					td#native-fields=ml.fields+':'
						ul
							each field in nativeFields
								li: label
									input(type="checkbox",name="fields",value=field,checked=fields.indexOf(field)!==-1)
									=field
	
	if result
		.paginator
			if(count>10)
				if paginator.page === 1
					a(disabled) «
				else
					a(href=paginator.url+"1") «

				- var n = paginator.first

				while n<= paginator.last
					|  &nbsp; 
					a(href=paginator.url+n,class={active:n===paginator.page})=n++

				|  &nbsp; 
				if paginator.last===paginator.page
					a(disabled) »
				else
					a(href=paginator.url+paginator.total) »
				|  &nbsp; 

			if count
				span=message

		#results
			each r,id in result
				.result-box(id=id)
					.actions
						a(href="#delete-row", data-action="delete-row")=ml.remove
						|  | 
						a(href="#", data-action="new-field")=ml.newField
						|  | 
						a(href="#", data-action="duplicate")=ml.duplicate
						|  | 
						a(href="", data-action="refresh")=ml.refresh
						|  | 
						a(href="", class="exp")=ml.expand
					.result!=r

		#field_menu
			a(href="#fieldUpdate")=ml.update
			a(href="#fieldSortAsc")=ml.sortAsc
			a(href="#fieldSortDesc")=ml.sortDesc
			span ------
			a(href="#fieldRename")=ml.rename
			a(href="#fieldRemove")=ml.remove
			// a(href="#fieldClear")=ml.clear
			span ------
			a(href="#fieldHide")=ml.hide
			a(href="#fieldShow")=ml.show
	else if distinctResult && distinctResult.length
		table#distinct-result.lcaption
			thead
				tr
					th Count
					th=distinct
			tbody
				each d in distinctResult
					tr
						td=d.count
						td: a(href="?criteria="+d.criteria)=d.val
			
	else if message
		p.msg=message

	#update-dialog
		table(class="lcaption")
			tr#dialog-field-name
				th Field&nbsp;name
				td: input#data_key
			tr
				th Data&nbsp;Type
				td
					select#data_type
						option(value="number") Number
						option(value="string") String
						option(value="boolean") Boolean
						option(value="binary") Binary
						option(value="null") NULL
						option(value="mixed") Mixed
			tr
				th Value
				td#data_value

	script.
		window.monguiLang = {expand: "#{ml.expand}", colapse: "#{ml.colapse}"};