extends collection

block collection-content
	form#query-form
		input(type="hidden",name="db",value=db)
		input(type="hidden",name="col",value=collection)
		textarea#criteria(name="criteria",rows="5",cols="70")=criteria
		br
		input(type="submit")
		|  | 
		input#explain(type="button",value=ml.explain)
		|  | 
		label(for="actsel")=ml.action+": "
		select#actsel(name="action")
			option find
			option(selected=action==="remove") remove
			option(selected=action==="update") update
	if result
		.paginator
			if(count>10)
				a(href=url+"&page=1") «

				- var n = paginator.first

				while n<= paginator.last
					|  &nbsp; 
					a(href="?page="+n,class={active:n===paginator.page})=n++

				|  &nbsp; 
				a(href=url+"&page="+paginator.total) »
				|  &nbsp; 

			if count
				span="Records found: "+count

		#results
			each r,id in result
				.result-box(id=id)
					.actions
						a(href="#delete-row", data-action="delete-row")=ml.remove
						|  | 
						a(href="#", data-action="new-field")=ml.newField
						|  | 
						a(href="#", data-action="duplicate")=ml.duplicate
						|  | 
						a(href="", data-action="refresh")=ml.refresh
						|  | 
						a(href="", class="exp")=ml.expand
					.result!=r

		#field_menu
			a(href="#fieldUpdate")=ml.update
			a(href="#fieldSortAsc")=ml.sortAsc
			a(href="#fieldSortDesc")=ml.sortDesc
			span ------
			a(href="#fieldRename")=ml.rename
			a(href="#fieldRemove")=ml.remove
			// a(href="#fieldClear")=ml.clear
			span ------
			a(href="#fieldHide")=ml.hide
			a(href="#fieldShow")=ml.show
	else if message
		p=message

	#update-dialog
		table(class="lcaption")
			tr#dialog-field-name
				th Field&nbsp;name
				td: input#data_key
			tr
				th Data&nbsp;Type
				td
					select#data_type
						option(value="number") Number
						option(value="string") String
						option(value="boolean") Boolean
						option(value="binary") Binary
						option(value="null") NULL
						option(value="mixed") Mixed
			tr
				th Value
				td#data_value