extends layout

block content
	.auto-height
		table.lcaption(style="max-width:960px")
			tbody
				tr
					th(style="width:18%") profilingLevel
					td=level
				tr
					th(colspan="3",style="background-color:#eee;text-align:center") #{ml.buildInfo} (
						a(href="/db/admin?op=command#getCmdLineOpts") {buildinfo:1}
						| )
				each i,k in info
					tr
						th=k
						td=i
				tr
					th(colspan="3",style="background-color:#eee;text-align:center") #{ml.cmdLine} (
						a(href="/db/admin?op=command#getCmdLineOpts") {getCmdLineOpts:1}
						| )
				each i,k in cmd
					tr
						th=k
						td=i